$font: Arial, Helvetica, sans-serif;
$transition: all 0.2s ease-in-out;
$primary-color: rgb(164, 198, 235);
$secondary-color: rgb(160, 140, 220);

@mixin item-center($flex-dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flex-dir;
}

@mixin scale-on-hover($scale: 1.1) {
    transition: $transition;
    &:hover {
        transform: scale($scale);
    }
}

@mixin box-style($padding, $margin, $border-thickness: 2px) {
    padding: $padding;
    margin: $margin;
    border-radius: 5px;
    border: $border-thickness solid #000;
    box-shadow: 2px 3px 5px #5a5959;
}

@mixin bg-color-hover-transition() {
    background-color: $secondary-color;
    transition: background-color 300ms ease-in-out;
}

* {
    font-family: $font;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}

body {
    @include item-center(column);
    min-height: 100vh;
    width: 100vw;
}
.main {
    @include item-center(column);
    margin: 1rem 0rem;
}

.anchor {
    position: relative;
    #simpson {
        width: 300px;
    }

    .left-eye{
        width: 29px;
        height: 29px;
        // background-color: #d7cb70;
        border-radius: 50%;
        // transform: rotate(45deg);
    }
    .right-eye {
        width: 32px;
        height: 32px;
        // background-color: #d7cb70;
        border-radius: 50%;
    }

    .left-eye {
        position: absolute;
        top: 85px;
        left: 48px;
    }

    .right-eye {
        position: absolute;
        top: 87px;
        left: 80px;
    }

    .left-eyeball,
    .right-eyeball {
        width: 7px;
        height: 7px;
        background-color: #000;
        border-radius: 50%;
    }

    .left-eyeball{
        position: absolute;
        top: 10px;
        left: 2px;
    }
    .right-eyeball{
        position: absolute;
        top: 13px;
        left: 2px;
    }
}

.title {
    text-transform: uppercase;
    @include scale-on-hover();
}

@media screen and (min-width: 768px) {
    body {
        @include item-center(row);
    }

    .main {
        margin-left: 1rem;
    }
}

.to-do {
    margin: 0 auto;
    min-width: 400px;
    
    .input-form {
        display: flex;
        input[type="text"] {
            width: 80%;
            @include box-style(0.7rem 1rem, 0 0.3rem);
            transition: $transition;
            &:focus {
                outline: none !important;
                box-shadow: 0 0 10px $primary-color;
                border-color: $primary-color;
                transition: $transition;
            }
        }
        .btn {

            @include box-style(0.7rem 1rem, 0 0.3rem);
            text-transform: uppercase;
            font-weight: bold;
            background-color: $primary-color;

            @include scale-on-hover();

            &:hover {
                @include bg-color-hover-transition();
                cursor: pointer;
            }
        }
    }

    .to-do-list {
        list-style-type: none; // remove bullet
        padding-left: 0;
    }

    .dragging {
        opacity: 0.5;
    }

    .item {
        @include box-style(0.5rem 1rem, 0 0.3rem, 1px);
        margin-top: 0.5rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: capitalize;
        background-color: $primary-color;

        .cross {
            height: 25px;
            width: 25px;
        }

        &:hover {
            @include bg-color-hover-transition();
            .cross {
                height: 25px;
                width: 25px;
                border-radius: 5px;
                position: relative;
                cursor: pointer;

                @include scale-on-hover();

                &::after,
                &::before {
                    position: absolute;
                    top: 3px;
                    right: 10px;
                    height: 80%;
                    width: 0.2rem;
                    background-color: #000;
                    content: "";
                }

                &::after {
                    transform: rotate(45deg);
                }

                &::before {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
