* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
}

.anchor {
  position: relative;
}
.anchor #simpson {
  width: 300px;
}
.anchor .left-eye {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}
.anchor .right-eye {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.anchor .left-eye {
  position: absolute;
  top: 85px;
  left: 48px;
}
.anchor .right-eye {
  position: absolute;
  top: 87px;
  left: 80px;
}
.anchor .left-eyeball,
.anchor .right-eyeball {
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
}
.anchor .left-eyeball {
  position: absolute;
  top: 10px;
  left: 2px;
}
.anchor .right-eyeball {
  position: absolute;
  top: 13px;
  left: 2px;
}

.title {
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.title:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .main {
    margin-left: 1rem;
  }
}
.to-do {
  width: 500px;
  margin: 0 auto;
}
.to-do .input-form input[type=text] {
  width: 80%;
  padding: 0.7rem 1rem;
  margin: 0 0.3rem;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: 2px 3px 5px #5a5959;
  transition: all 0.2s ease-in-out;
}
.to-do .input-form input[type=text]:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgb(164, 198, 235);
  border-color: rgb(164, 198, 235);
  transition: all 0.2s ease-in-out;
}
.to-do .input-form .btn {
  padding: 0.7rem 1rem;
  margin: 0 0.3rem;
  border-radius: 5px;
  border: 2px solid #000;
  box-shadow: 2px 3px 5px #5a5959;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(164, 198, 235);
  transition: all 0.2s ease-in-out;
}
.to-do .input-form .btn:hover {
  transform: scale(1.1);
}
.to-do .input-form .btn:hover {
  background-color: rgb(160, 140, 220);
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}
.to-do .to-do-list {
  list-style-type: none;
  padding-left: 0;
}
.to-do .dragging {
  opacity: 0.5;
}
.to-do .item {
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 2px 3px 5px #5a5959;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  background-color: rgb(164, 198, 235);
}
.to-do .item .cross {
  height: 25px;
  width: 25px;
}
.to-do .item:hover {
  background-color: rgb(160, 140, 220);
  transition: background-color 300ms ease-in-out;
}
.to-do .item:hover .cross {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.to-do .item:hover .cross:hover {
  transform: scale(1.1);
}
.to-do .item:hover .cross::after, .to-do .item:hover .cross::before {
  position: absolute;
  top: 3px;
  right: 10px;
  height: 80%;
  width: 0.2rem;
  background-color: #000;
  content: "";
}
.to-do .item:hover .cross::after {
  transform: rotate(45deg);
}
.to-do .item:hover .cross::before {
  transform: rotate(-45deg);
}/*# sourceMappingURL=style.css.map */